.bg-circle-op {
    opacity: .2;
}

.main-anim-wrapper {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: all .8s ease;

    >.bg-circle {
        background-color: #000000;
        width: 35.6rem;
        height: 35.6rem;
        animation: moveInBottom .8s ease-out .5s;
        animation-fill-mode: backwards;
    }

    >.scStart-keret {
        background-size: auto auto;
        width: 35.2rem;
        height: 35.2rem;
        position: absolute;
        top: 0;
        left: -3rem;
        animation: moveInBottom 1.2s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.sprite {
    background-position: 0rem 0rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.scStart-sprite {
    background-image: url(../img/section-start/spritescStart-8.png);
    background-size: 264rem 51rem;
    width: 22rem;
    height: 51rem;
    animation: moveInBottom .4s ease-out 0s;
    animation-fill-mode: backwards;
}

.sc20-sprite {
    background-image: url(../img/sc20/sprite20-8.png);
    background-size: 420rem 53rem;
    width: 35rem;
    height: 53rem;
}

.sc30-sprite {
    background-image: url(../img/sc30/sprite30-8.png);
    background-size: 156rem 58rem;
    width: 26rem;
    height: 58rem;
}
.sc40-sprite {
    background-image: url(../img/sc40/sprite40-8.png);
    background-size: 636rem 49rem;
    width: 53rem;
    height: 49rem;
}

.sc50-sprite {
    background-image: url(../img/sc50/sprite50-8.png);
    background-size: 636rem 52rem;
    width: 53rem;
    height: 52rem;
}

.sc60-sprite-mama {
    background-image: url(../img/sc60/mamaSpriteSheet-8.png);
    background-size: 252rem 54rem;
    width: 21rem;
    height: 54rem;
    left: 80%;
}

.sc60-sprite-papa {
    background-image: url(../img/sc60/papaSpriteSheet-8.png);
    background-size: 252rem 54rem;
    width: 21rem;
    height: 54rem;
    left: 10%
}