* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.btn-green {
    display: inline-block;
    color: white;
    background-color: $colorGreen;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: all 0.35s ease;
    box-shadow: -0.2rem 0.2rem 0rem rgba(24, 42, 54, 0.19);

  &:hover {
    background-color: lighten($colorGreen, 5%);
    transform: scale(1.1);
    box-shadow: -1.8rem 1.8rem 0rem rgba(24, 42, 54, 0.1);
  }
}

.btn-vote {
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: all 0.35s ease;
  box-shadow: -0.2rem 0.2rem 0rem rgba(24, 42, 54, 0.19);

  &-no {
    background-color: $colorRed;

    &:hover {
      background-color: lighten($colorRed, 5%);
    }
  }

  &-yes {
    background-color: $colorBlue;

    &:hover {
      background-color: lighten($colorBlue, 5%);
    }
  }

&:hover {
  transform: scale(1.1);
  box-shadow: -1.8rem 1.8rem 0rem rgba(24, 42, 54, 0.1);
}
}