.section {
    width: 100%;
    height: 200rem;
    position: relative;
    overflow: hidden;
}

#sectionStart {
    background-color: #a9c9d8;
}

#section20 {
    background-color: #1e6d95;
    height: 400rem;
}

#section30 {
    background-color: #42868a;
    height: 400rem;
}

#section40 {
    background-color: #563c5e;
    height: 400rem;
}

#section50 {
    background-color: #f89801;
    height: 400rem;
}

#section60 {
    background-color: #5ec2f3;
    height: 400rem;
}

.section-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    &-blue {
        background-image: url(../img/header-blue.svg);
    }

    &-green {
        background-image: url(../img/header-green.svg);
    }

    &-purple {
        background-image: url(../img/header-purple.svg);
    }

    &-red {
        background-image: url(../img/header-red.svg);
    }
}

.header-container {
    position: relative;
    padding: 0 5vw 3rem 5vw;

    .header-title {
        margin-bottom: 3rem;

        &-year {
            font-size: 11rem;
            padding: 0 1rem 1.1rem 1rem;

            &-20 {
                background-color: #17b495;
            }

            &-30 {
                background-color: #40cade;
            }

            &-40 {
                background-color: #f8f863;
            }

            &-50 {
                background-color: #f89801;
            }

            &-60 {
                background-color: #93d6da;
            }
        }

        &-plus {
            font-size: 11rem;
            background-color: #e6f9f4;
            padding: 1rem 1rem 0 1rem;
        }

        &-after {
            position: absolute;
            top: 8.9rem;
            left: 50%;
            transform: translateX(12.9rem);
        }
    }

    >.btn-green {
        margin: 3rem 0;
    }
}