.left-wrapper {
    position: fixed;
    top: 50vh;
    left: 20vw;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

.left-out {
    transform: translate(-50vw, -50%);
}

.white-circle {
    background-color: white;
    width: 34.7rem;
    height: 34.7rem;
    padding: 1.5rem;
    border-radius: 50%;
    border: 1.5rem solid $colorLight;
    box-shadow: -1.5rem 1.5rem 0rem rgba(24, 42, 54, 0.2);
    margin-bottom: 6rem;
}

.black-circle {
    position: absolute;
    top: -5.8rem;
    left: 0.6rem;
    background-color: $colorDark;
    width: 33.5rem;
    height: 33.5rem;
    padding: 1.5rem;
    border-radius: 50%;
}

.question-box{
    font-size: 4.8rem;
    font-weight: 800;
    background-color: $colorGreen;
    padding: 0.5rem 2rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.vote {
    margin-top: 1.5rem;

    .vote-buttons {
        margin: 1.5rem 0;
        min-width: 21rem;
    }
}

.vote-bar {
    width: 38.3rem;
    height: 5.8rem;
    border: 0.5rem solid $colorLight;
    border-radius: 10rem;
    background-color: white;
    margin-left: -1.9rem;
    margin-bottom: 3rem;
    box-shadow: -0.8rem 0.8rem 0rem rgba(24, 42, 54, 0.2);
    position: relative;

    &-no, &-yes {
        height: 100%;
        border-radius: 10rem;
        font-weight: 900;
        color: white;
        text-align: center;
        line-height: 4.6rem;

        > span {
            font-size: 1.6rem;
        }
    }

    &-no {
        background-color: $colorRed;
    }
    &-yes {
        background-color: $colorBlue;
    }
}

.right-wrapper {
    position: fixed;
    top: 50vh;
    right: 20vw;
    transform: translate(50%, -50%);
    transition: all 1s ease;
}

.right-out {
    transform: translate(50vw, -50%);
}

.whiteframed {
    width: 39.6rem;
    height: 39.6rem;
    border: 1.5rem solid $colorLight;
    border-radius: 50%;
    padding: 1.5rem;
    box-shadow: -1.5rem 1.5rem 0rem rgba(24, 42, 54, 0.2);
    transition: all 1s ease;

    > .btn-green {
        margin-top: 3rem;
    }
}


