body {
    font-family: 'Montserrat', sans-serif;
    color: $colorDark;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: 7.1rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

p {
    font-size: 1.4rem;
}

.text-white {
    color: white;
}

.text-upper {
    text-transform: uppercase;
}

.text-light {
    font-weight: 400;
}

.text-normal {
    font-weight: 600;
}

.text-bold {
    font-weight: 800;
}

.text-black {
    font-weight: 900;
}

.text-center {
    text-align: center;
}