/* Webfont: HelveticaNeueLTPro-Blk */@font-face {
    font-family: 'HelveticaNeueLTPro95Blk';
    src: url('/css/fonts/HelveticaNeueLTPro-Blk.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/HelveticaNeueLTPro-Blk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/css/fonts/HelveticaNeueLTPro-Blk.woff') format('woff'), /* Modern Browsers */
         url('/css/fonts/HelveticaNeueLTPro-Blk.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/css/fonts/HelveticaNeueLTPro-Blk.svg#HelveticaNeueLTPro-Blk') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeueLTPro-Md */@font-face {
    font-family: 'HelveticaNeueLTPro65Md';
    src: url('/css/fonts/HelveticaNeueLTPro-Md.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/css/fonts/HelveticaNeueLTPro-Md.woff') format('woff'), /* Modern Browsers */
         url('/css/fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/css/fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: HelveticaNeueLTPro-Roman */@font-face {
    font-family: 'HelveticaNeueLTPro55Roman';
    src: url('/css/fonts/HelveticaNeueLTPro-Roman.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/HelveticaNeueLTPro-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/css/fonts/HelveticaNeueLTPro-Roman.woff') format('woff'), /* Modern Browsers */
         url('/css/fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/css/fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6px;
  scroll-behavior: smooth;
}

@media (min-width: 992px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 10px;
  }
}

.btn-green {
  border: none;
  display: inline-block;
  color: white;
  background-color: #46a68e;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: all 0.35s ease;
  box-shadow: -0.2rem 0.2rem 0rem rgba(24, 42, 54, 0.19);
}

.btn-green:hover {
  color: white;
  text-decoration: none;
  background-color: #50b59c;
  transform: scale(1.1);
  box-shadow: -1.8rem 1.8rem 0rem rgba(24, 42, 54, 0.1);
}

.btn-orange {
  border: none;
  display: inline-block;
  color: white;
  background-color: #f95b28;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: all 0.35s ease;
  box-shadow: -0.2rem 0.2rem 0rem rgba(24, 42, 54, 0.19);
}

.btn-orange:hover {
  color: white;
  text-decoration: none;
  background-color: #fa6e41;
  transform: scale(1.1);
  box-shadow: -1.8rem 1.8rem 0rem rgba(24, 42, 54, 0.1);
}

.btn-vote {
  display: inline-block;
  color: white !important;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: all 0.35s ease;
  text-transform: uppercase;
  box-shadow: -0.2rem 0.2rem 0rem rgba(24, 42, 54, 0.19);
}

.btn-vote-no {
  background-color: #be5436;
}

.btn-vote-no:hover {
  background-color: #ca6144;
}

.btn-vote-yes {
  background-color: #5299bd;
}

.btn-vote-yes:hover {
  background-color: #64a4c4;
}

.btn-vote:hover {
  transform: scale(1.1);
  box-shadow: -1.8rem 1.8rem 0rem rgba(24, 42, 54, 0.1);
}

body {
  font-family: "Montserrat", sans-serif;
  color: #21262b;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 7.1rem !important;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

p {
  font-size: 1.4rem;
}

.text-white {
  color: white;
}

.text-upper {
  text-transform: uppercase;
}

.text-light {
  font-weight: 400;
}

.text-normal {
  font-weight: 600;
}

.text-bold {
  font-weight: 800;
}

.text-black {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.w-100 {
  width: 100%;
}

.section {
  width: 100%;
  position: relative;
}

#sectionStart {
  background-color: #a9c9d8;
  height: 200rem;
  overflow: hidden;
}

#section20 {
  background-color: #1e6d95;
  height: 400rem;
}

#section30 {
  background-color: #42868a;
  height: 400rem;
}

#section40 {
  background-color: #563c5e;
  height: 400rem;
}

#section50 {
  background-color: #f89801;
  height: 400rem;
}

#section60 {
  background-color: #5ec2f3;
  height: 400rem;
}

#sectionLogo {
  background-color: #5ec2f3;
  overflow: hidden;
}

.section-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.section-header-blue {
  background-image: url(/images/header-blue.svg?51ec9c27ea0b4ccd14a90f0d5d48ba2d);
}

.section-header-green {
  background-image: url(/images/header-green.svg?f6476051ba479321674f80e75b10f97b);
}

.section-header-purple {
  background-image: url(/images/header-purple.svg?98cc269814c59057dc4b7deda11f7b6a);
}

.section-header-red {
  background-image: url(/images/header-red.svg?29652af8d64afab6beb86e1cdd7456f2);
}

.header-container {
  position: relative;
  padding: 0 5vw 3rem 5vw;
}

.header-container .header-title {
  margin-bottom: 3rem;
}

.header-container .header-title-year {
  font-size: 11rem;
  font-weight: 900;
  padding: 0 1rem 1.1rem 1rem;
}

.header-container .header-title-year-20 {
  background-color: #17b495;
}

.header-container .header-title-year-30 {
  background-color: #40cade;
}

.header-container .header-title-year-40 {
  background-color: #f8f863;
}

.header-container .header-title-year-50 {
  background-color: #f89801;
}

.header-container .header-title-year-60 {
  background-color: #93d6da;
}

.header-container .header-title-plus {
  font-size: 11rem;
  font-weight: 900;
  background-color: #e6f9f4;
  padding: 1rem 1rem 0 1rem;
}

.header-container .header-title-after {
  position: absolute;
  font-weight: 600;
  top: 4.6rem;
  left: 47.7%;
  transform: translateX(12.9rem);
}

.header-container > .btn-green {
  margin: 3rem 0;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInLeftRotate {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(-100deg);
  }

  80% {
    transform: translateX(1rem) rotate(10deg);
  }

  100% {
    opacity: 1;
    transform: translate(0) rotate(0deg);
  }
}

@keyframes moveInLeftRotate {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(-100deg);
  }

  80% {
    transform: translateX(1rem) rotate(10deg);
  }

  100% {
    opacity: 1;
    transform: translate(0) rotate(0deg);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header-social {
  background-color: #e6f9f4;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  transition: all 0.8s;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.header-social-off {
  top: -10rem;
}

.mabisz-logo {
  width: 12.5rem;
  height: auto;
}

.socicon {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 1rem;
}

.milkyway {
  background-image: url(/images/milkyWay.svg?65a272a5e5a067bb24ebfc4fa5ec2599);
  background-size: 20rem 20rem;
  width: 500vw;
  height: 500vh;
  z-index: -10;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.bg-start {
  background-image: url(/images/bgOl.svg?e325b33719c9d232d5ea9451116a8d37);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-circle {
  border-radius: 50%;
}

.nyanya-wrapper {
  position: absolute !important;
}

.nyanya-wrapper > .bg-circle {
  background-color: #022546;
  width: 29.4rem;
  height: 29.4rem;
  -webkit-animation: moveInLeft 0.8s ease-out 0.5s;
          animation: moveInLeft 0.8s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: none;
}

@media (min-width: 576px) {
  .nyanya-wrapper > .bg-circle {
    display: block;
  }
}

.nyanya-wrapper > .nyanya-keret {
  background-image: url(/images/nyanya-keret.svg?e9815566d25c85efb13cf2046e765a63);
  background-size: auto auto;
  width: 35.2rem;
  height: 35.2rem;
  position: absolute;
  top: 0;
  left: -3rem;
  -webkit-animation: moveInLeftRotate 1.2s ease-out 0.75s;
          animation: moveInLeftRotate 1.2s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: none;
}

@media (min-width: 576px) {
  .nyanya-wrapper > .nyanya-keret {
    display: block;
  }
}

.nyanya-wrapper .nyanya-text {
  padding-left: 6rem;
  margin-top: -5.2rem;
}

.nyanya-wrapper .nyanya-text > h2 {
  margin-bottom: 0;
}

.nyanya-wrapper .nyanya-text > h3 {
  color: #28c6f9;
  margin-top: -1rem;
  padding-left: 3rem;
}

.nyanya-wrapper .nyanya-text > p {
  padding-left: 3rem;
  margin-top: -0.5rem;
}

.nyanya-wrapper > .btn-green {
  margin-top: 3rem;
}

.nyanya-sprite {
  background-image: url(/images/nyanyaSpriteSheet.png?0869f322def5ac51f8b7a65a3f32a8b8);
  background-size: 384rem 37.5rem;
  width: 32rem;
  height: 37.5rem;
  background-position: 0rem 0rem;
  position: absolute;
  top: -10rem;
  left: -4rem;
  -webkit-animation: moveInLeft 0.4s ease-out 0s;
          animation: moveInLeft 0.4s ease-out 0s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  display: none;
}

@media (min-width: 576px) {
  .nyanya-sprite {
    display: block;
  }
}

.center-wrapper {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translate(-50%, 0);
  text-align: center;
}

.center-wrapper .telefon {
  transform: scale(0.4);
  margin-top: -12rem;
}

@media (min-width: 576px) {
  .center-wrapper .telefon {
    transform: scale(0.48);
    margin-top: -11rem;
  }
}

@media (min-width: 768px) {
  .center-wrapper .telefon {
    transform: scale(0.56);
    margin-top: -10rem;
  }
}

@media (min-width: 992px) {
  .center-wrapper .telefon {
    transform: scale(0.64);
    margin-top: -7rem;
  }
}

@media (min-width: 1200px) {
  .center-wrapper .telefon {
    transform: scale(0.72);
    margin-top: -5rem;
  }
}

@media (min-width: 1400px) {
  .center-wrapper .telefon {
    transform: scale(0.8);
    margin-top: -3rem;
  }
}

@media (min-width: 1900px) {
  .center-wrapper .telefon {
    transform: scale(0.9);
    margin-top: -1.5rem;
  }
}

.center-wrapper > .heading {
  line-height: 5rem;
}

.center-wrapper > .heading-1 {
  color: white;
  text-shadow: -0.8rem 0.8rem 0 rgba(24, 42, 54, 0.25);
  font-weight: 900;
  margin-top: -11rem;
}

@media (min-width: 576px) {
  .center-wrapper > .heading-1 {
    margin-top: -9rem;
  }
}

@media (min-width: 768px) {
  .center-wrapper > .heading-1 {
    margin-top: -7rem;
  }
}

@media (min-width: 992px) {
  .center-wrapper > .heading-1 {
    margin-top: -5rem;
  }
}

@media (min-width: 1200px) {
  .center-wrapper > .heading-1 {
    margin-top: -3rem;
  }
}

@media (min-width: 1400px) {
  .center-wrapper > .heading-1 {
    margin-top: -1.5rem;
  }
}

@media (min-width: 1900px) {
  .center-wrapper > .heading-1 {
    margin-top: 0rem;
  }
}

.center-wrapper > .heading-2 {
  color: #f95b28;
  text-shadow: 0.8rem 0.8rem 0 rgba(24, 42, 54, 0.25);
  margin-bottom: 1.5rem;
}

.center-wrapper > .slogan {
  max-width: 40rem;
  text-shadow: 0.2rem 0.2rem 0 rgba(24, 42, 54, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.start-spacer {
  top: 49.5rem !important;
  transform: translate(-50%, 0) !important;
}

.clipper {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}

.main-anim-wrapper {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
}

.main-anim-wrapper > .bg-circle {
  background-color: #000000;
  width: 35.6rem;
  height: 35.6rem;
  -webkit-animation: moveInBottom 0.8s ease-out 0.5s;
          animation: moveInBottom 0.8s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.main-anim-wrapper > .scStart-keret {
  background-size: auto auto;
  width: 35.2rem;
  height: 35.2rem;
  position: absolute;
  top: 0;
  left: -3rem;
  -webkit-animation: moveInBottom 1.2s ease-out 0.75s;
          animation: moveInBottom 1.2s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.scStart-sprite {
  background-image: url(/images/spritescStart-8.png?73f258d516e97079dd4efa8a4bd649b0);
  background-size: 264rem 51rem;
  width: 22rem;
  height: 51rem;
  background-position: 0rem 0rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: moveInBottom 0.4s ease-out 0s;
          animation: moveInBottom 0.4s ease-out 0s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#scStartRightWrapper {
  position: absolute;
}

#scStartRightWrapper > .nev {
  text-align: right;
  margin-bottom: 3rem;
}

#scStartRightWrapper > .whiteframed {
  background-image: url(/images/start-video-poster.jpg?2e8ad5bd4158aeda06dfedf355345f30);
  background-size: cover;
  width: 29.4rem !important;
  height: 29.4rem !important;
  margin-bottom: 6rem;
}

#scStartRightWrapper > .titulus {
  text-align: right;
  color: #f95b28;
}

#scStartRightWrapper > .question {
  text-align: right;
  color: #28c6f9;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.bg-circle-op {
  opacity: 0.2;
}

.main-anim-wrapper {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
}

.main-anim-wrapper > .bg-circle {
  background-color: #000000;
  width: 35.6rem;
  height: 35.6rem;
  -webkit-animation: moveInBottom 0.8s ease-out 0.5s;
          animation: moveInBottom 0.8s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.main-anim-wrapper > .scStart-keret {
  background-size: auto auto;
  width: 35.2rem;
  height: 35.2rem;
  position: absolute;
  top: 0;
  left: -3rem;
  -webkit-animation: moveInBottom 1.2s ease-out 0.75s;
          animation: moveInBottom 1.2s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.sprite {
  background-position: 0rem 0rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.scStart-sprite {
  background-image: url(/images/spritescStart-8.png?73f258d516e97079dd4efa8a4bd649b0);
  background-size: 264rem 51rem;
  width: 22rem;
  height: 51rem;
  -webkit-animation: moveInBottom 0.4s ease-out 0s;
          animation: moveInBottom 0.4s ease-out 0s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.sc20-sprite {
  background-image: url(/images/sprite20-8.png?caf09cb9bb90d155fe0c3fe77bba461a);
  background-size: 420rem 53rem;
  width: 35rem;
  height: 53rem;
}

.sc30-sprite {
  background-image: url(/images/sprite30-8.png?ddd2963cff4bc6263643b808591ad79b);
  background-size: 156rem 58rem;
  width: 26rem;
  height: 58rem;
}

.sc40-sprite {
  background-image: url(/images/sprite40-8.png?5e4b82ed256ad871753750dc3678358a);
  background-size: 636rem 49rem;
  width: 53rem;
  height: 49rem;
}

.sc50-sprite {
  background-image: url(/images/sprite50-8.png?9dd2b00a21e056763524be44b1b4c06e);
  background-size: 636rem 52rem;
  width: 53rem;
  height: 52rem;
}

.sc60-sprite-mama {
  background-image: url(/images/mamaSpriteSheet-8.png?2e9aa652f4e411e71a5d492d9c0ffaf9);
  background-size: 252rem 54rem;
  width: 21rem;
  height: 54rem;
  left: 80%;
}

.sc60-sprite-papa {
  background-image: url(/images/papaSpriteSheet-8.png?ea0c801a867f6dfe7391bfc8e33bd5a5);
  background-size: 252rem 54rem;
  width: 21rem;
  height: 54rem;
  left: 10%;
}

.left-wrapper {
  position: fixed;
  top: 50vh;
  left: 20vw;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.left-out {
  transform: translate(-100vw, -50%);
}

.white-circle {
  background-color: white;
  width: 34.7rem;
  height: 34.7rem;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1.5rem solid #e5eaee;
  box-shadow: -1.5rem 1.5rem 0rem rgba(24, 42, 54, 0.2);
  margin-bottom: 6rem;
}

.black-circle {
  position: absolute;
  top: -5.8rem;
  left: 0.6rem;
  background-color: #21262b;
  width: 33.5rem;
  height: 33.5rem;
  padding: 1.5rem;
  border-radius: 50%;
}

.question-box {
  font-size: 4.8rem;
  font-weight: 800;
  background-color: #46a68e;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.vote {
  margin-top: 1.5rem;
}

.vote .vote-buttons {
  margin: 1.5rem 0;
  min-width: 21rem;
}

.vote-bar {
  width: 38.3rem;
  height: 5.8rem;
  border: 0.5rem solid #e5eaee;
  border-radius: 10rem;
  background-color: white;
  margin-left: -1.9rem;
  margin-bottom: 3rem;
  box-shadow: -0.8rem 0.8rem 0rem rgba(24, 42, 54, 0.2);
  position: relative;
}

.vote-bar-no,
.vote-bar-yes {
  height: 100%;
  border-radius: 10rem;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 4.6rem;
}

.vote-bar-no > span,
.vote-bar-yes > span {
  font-size: 1.6rem;
}

.vote-bar-no {
  background-color: #be5436;
}

.vote-bar-yes {
  background-color: #5299bd;
}

.right-wrapper {
  position: fixed;
  top: 50vh;
  right: 20vw;
  transform: translate(50%, -50%);
  transition: all 1s ease;
}

.right-out {
  transform: translate(100vw, -50%);
}

.whiteframed {
  width: 39.6rem;
  height: 39.6rem;
  border: 1.5rem solid #e5eaee;
  border-radius: 50%;
  padding: 1.5rem;
  box-shadow: -1.5rem 1.5rem 0rem rgba(24, 42, 54, 0.2);
  transition: all 1s ease;
}

.whiteframed > .btn-green {
  margin-top: 3rem;
}

.bg-blue {
  background-color: #1c7cad;
}

.modal {
  padding-right: 0px !important;
}

.custom-modal .modal-content {
  border: none;
  border-radius: 0px;
}

.custom-modal .modal-content .modal-header {
  position: relative;
  border: none;
  padding: 0px !important;
  border-radius: 0px;
  min-height: 70px;
}

.custom-modal .modal-content .modal-header .close {
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 30px;
  color: white;
  opacity: 1;
  font-weight: normal;
  padding-left: 15px;
  padding-right: 15px;
  background-color: purple;
  border-radius: 30px;
  border: 1px solid white;
}

.custom-modal .modal-content .modal-header .close span {
  height: 10px;
  line-height: 10px;
}

.custom-modal .modal-content .modal-body {
  border: none;
}

#sc20RightWrapper {
  background-color: #1e6d95;
}

.bg20 {
  background-image: url(/images/bg20.svg?6728d98275ba09564e14f45d28df4330);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bg30 {
  background-image: url(/images/bg30.svg?2093fda7ee18ba7b4e763f7c30b8c32b);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sc30LeftWrapper {
  height: 60.9rem;
}

#sc30LeftWrapper > .whiteframed {
  background-color: #155f52;
  margin-top: 7rem;
}

#sc30LeftWrapper > .whiteframed > button {
  z-index: 20;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.feszek {
  background-image: url(/images/feszek-8.png?8160942b15fbcd415c3ec20ae6b77f6a);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sc40RightWrapper > .whiteframed {
  background-image: url(/images/videoPoster.jpg?549c08463582de6b81fb2a015881b798);
  background-size: cover;
  margin-top: -15rem;
}

.bg40 {
  background-image: url(/images/bg40.svg?6b882727f3ecbd738e2a6708613f5400);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.szivek {
  background-image: url(/images/szivek.svg?b1e92875a677d0152154c76b9cac4340);
  background-size: auto auto;
  width: 34rem;
  height: 42rem;
}

.txtGrp {
  padding-left: 3rem;
  margin-top: 3rem;
}

.question40 {
  width: 38rem;
  background-color: #0aa3bb;
  padding: 0.5rem 1.5rem;
  margin-top: 6rem;
  position: relative;
}

.question40::before {
  background-color: #0aa3bb;
  position: absolute;
  content: "";
  top: 0;
  left: -100vw;
  height: 100%;
  width: 100vw;
}

#sc50LeftWrapper {
  background-color: #943f40;
}

.sivatag-bg {
  background-image: url(/images/sivatag-bg.svg?531d39a543380c0b4e81cbeb77aa0eb5);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sc60RightWrapper {
  background-color: #1c7cad;
}

.felho-bg {
  background-image: url(/images/felho-bg.svg?2f4ea68896064b96cb106b42bdc3117b);
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-section {
  background-color: white;
  padding-bottom: 12rem;
  margin-top: 26vw;
}

.felho-border {
  background-image: url(/images/felho.svg?14e5b403499de4b549cf03f54ba05a76);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 34vw;
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
}

.scLogoTitle {
  position: relative;
  transform: rotate(-9deg);
}

.scLogoTitle .tovabbi {
  background-image: url(/images/tovabbi.svg?270608b0b545e367507f45267771a40a);
  background-size: cover;
  background-repeat: no-repeat;
  width: 42.7rem;
  height: 9rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-63%, 0);
  transition: all 1s ease;
}

.scLogoTitle .tovabbi-out {
  transform: translate(-120vw, 0);
}

.scLogoTitle .tanacsok {
  background-image: url(/images/tanacsok.svg?7e9f7f41c8fcbe701a20b85a40f6495d);
  background-size: cover;
  background-repeat: no-repeat;
  width: 51.4rem;
  height: 10.6rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-37%, 0);
  transition: all 1s ease;
}

.scLogoTitle .tanacsok-out {
  transform: translate(120vw, 0);
}

.logoSub {
  font-size: 18px;
  font-weight: 800 !important;
  color: #15506e;
  padding-top: 30rem;
  padding-bottom: 5rem;
  margin-top: 10rem;
}

.logo-wrapper > a {
  margin: 1.5rem 3rem;
}

.logo-wrapper > a div.logo-container {
  width: 130px;
  height: 70px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup-content-wrapper {
  padding: 20px 30px 20px;
}

.popup-content-wrapper .m-n {
  margin: 0px !important;
}

.popup-content-wrapper .p5 {
  padding: 5px;
}

.popup-content-wrapper .p-t-10 {
  padding-top: 10px;
}

.popup-content-wrapper .p-t-20 {
  padding-top: 20px;
}

.popup-content-wrapper .p-t-30 {
  padding-top: 30px;
}

.popup-content-wrapper .p-b-10 {
  padding-bottom: 10px;
}

.popup-content-wrapper .p-b-20 {
  padding-bottom: 20px;
}

.popup-content-wrapper .p-b-30 {
  padding-bottom: 30px;
}

.popup-content-wrapper .font-black {
  font-family: "HelveticaNeueLTPro95Blk";
}

.popup-content-wrapper .font-medium {
  font-family: "HelveticaNeueLTPro65Md";
}

.popup-content-wrapper .font-roman {
  font-family: "HelveticaNeueLTPro55Roman";
}

.popup-content-wrapper .color-blue {
  color: #3a589e;
}

.popup-content-wrapper .color-orange {
  color: #f27902;
}

.popup-content-wrapper .bg-light-green {
  background-color: #e6f1e5;
}

.popup-content-wrapper .bg-light-green2 {
  background-color: #f0f1e5;
}

.popup-content-wrapper .bg-light-blue {
  background-color: #d8eff5;
}

.popup-content-wrapper .bg-light-gray {
  background-color: #e5edf1;
}

.popup-content-wrapper .justify {
  text-align: justify !important;
}

.popup-content-wrapper p {
  font-size: 14px !important;
}

.popup-content-wrapper ul {
  font-size: 14px !important;
  width: calc(100% - 20px);
  margin-left: 20px;
}

.popup-content-wrapper ul li {
  margin-bottom: 20px;
}

.popup-content-wrapper .title-sec h1 {
  font-size: 48px !important;
}

.popup-content-wrapper .lead-sec p {
  font-size: 18px !important;
}

.popup-content-wrapper h2.quote {
  font-size: 30px !important;
}

.popup-content-wrapper p.quote {
  font-family: "HelveticaNeueLTPro65Md";
  font-size: 105px !important;
  height: 50px;
  line-height: 10px;
}

.popup-content-wrapper p.quote .right {
  text-align: right !important;
}

.popup-content-wrapper .popup-btn {
  background: none;
  border: 0px;
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  color: white;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  padding: 20px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "HelveticaNeueLTPro65Md";
}

.popup-content-wrapper .popup-btn.rounded {
  border-radius: 32px !important;
}

.popup-content-wrapper .popup-btn.bg-orange {
  background-color: #f4a000;
}

.popup-content-wrapper .table-sec .row {
  margin-bottom: 5px;
}

