//--- bg
.milkyway {
    background-image: url(../img/section-start/milkyWay.svg);
    background-size: 200px 200px;
    width: 500vw;
    height: 500vh;
    z-index: -10;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.bg-start {
    background-image: url(../img/section-start/bgOl.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-circle {
    border-radius: 50%;
}

//--- nyanya
.nyanya-wrapper {
    position: absolute !important;

    >.bg-circle {
        background-color: #022546;
        width: 29.4rem;
        height: 29.4rem;
        animation: moveInLeft .8s ease-out .5s;
        animation-fill-mode: backwards;
    }

    >.nyanya-keret {
        background-image: url(../img/section-start/nyanya-keret.svg);
        background-size: auto auto;
        width: 35.2rem;
        height: 35.2rem;
        position: absolute;
        top: 0;
        left: -3rem;
        animation: moveInLeftRotate 1.2s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.nyanya-sprite {
    background-image: url(../img/section-start/nyanyaSpriteSheet.png);
    background-size: 384rem 37.5rem;
    width: 32rem;
    height: 37.5rem;
    background-position: 0rem 0rem;
    position: absolute;
    top: -10rem;
    left: -4rem;
    animation: moveInLeft .4s ease-out 0s;
    animation-fill-mode: backwards;
}


//--- Center

.center-wrapper {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%, 0);
    text-align: center;

    >.heading {
        line-height: 5rem;

        &-1 {
            color: white;
            text-shadow: -0.8rem 0.8rem 0 rgba(24, 42, 54, 0.25);
        }

        &-2 {
            color: $colorOrange;
            text-shadow: 0.8rem 0.8rem 0 rgba(24, 42, 54, 0.25);
        }
    }
}

//--- Main anim

.start-spacer {
    top: 49.5rem !important;
    transform: translate(-50%, 0) !important;
}

.clipper {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}

.main-anim-wrapper {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: all .8s ease;

    >.bg-circle {
        background-color: #000000;
        width: 35.6rem;
        height: 35.6rem;
        animation: moveInBottom .8s ease-out .5s;
        animation-fill-mode: backwards;
    }

    >.scStart-keret {
        background-size: auto auto;
        width: 35.2rem;
        height: 35.2rem;
        position: absolute;
        top: 0;
        left: -3rem;
        animation: moveInBottom 1.2s ease-out .75s;
        animation-fill-mode: backwards;
    }

}

.scStart-sprite {
    background-image: url(../img/section-start/spritescStart-8.png);
    background-size: 264rem 51rem;
    width: 22rem;
    height: 51rem;
    background-position: 0rem 0rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    animation: moveInBottom .4s ease-out 0s;
    animation-fill-mode: backwards;
}