//--- header
.header-social {
    background-color: #e6f9f4;
    box-shadow: 0 0 3rem rgba(0,0,0,.25);
    position: fixed;
    top: -0rem;
    left: 0;
    width: 100%;
    transition: all 0.8s;
    z-index: 1000;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    &-off {
        top: -10rem;
    }
}

.socicon {
    width: 4.8rem;
    height: 4.8rem;
    margin: .8rem 1rem;
}